<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Sitecore.ContentSearch" version="8.0.150121.72" targetFramework="net45" />
  <package id="Sitecore.Kernel" version="6.5.121009.31" targetFramework="net45" />
  <package id="Unic.Bob.Config" version="1.0.0" targetFramework="net45" developmentDependency="true" />
  <package id="Unic.Bob.Muck" version="1.0.0" targetFramework="net45" developmentDependency="true" />
  <package id="Unic.Bob.Scoop" version="1.0.0" targetFramework="net45" developmentDependency="true" />
</packages>